<!DOCTYPE html>
<html ng-app="project_upload">
<head>
    <title>Upload report</title>
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="@routes.Assets.versioned("javascripts/script.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/project.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/report.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/login.js")"></script>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/style.css")'>
</head>
<body ng-controller="reportController">
    <div id="header">
            <!-- <a href="/"><img id="logo" src='@routes.Assets.versioned("images/sv.png")'/></a> -->
    </div>
    <div id="menu">
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/projects/upload">Upload</a></li>
            <li><a href="/projects/report">Report</a></li>
            <li><a href="/acp" ng-show="loggedIn">ACP</a></li>
            <li id="logout-button" ng-show="loggedIn"><a href="/acp/logout">Logout</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main">
            <h2>Upload report</h2>
            <hr />
            <div id="search-box">
                <div ng-show="selectedFilter == 'Author'"> Filter by
                    <select ng-model="selectedFilter" ng-change="resetParams()">
                        <option>Author</option>
                        <option>Name</option>
                    </select>
                    <input class="valid" type="text" ng-model="searchAuthor" ng-change="getPage()"/>
                </div>
                <div ng-show="selectedFilter == 'Name'"> Filter by
                    <select ng-model="selectedFilter" ng-change="resetParams()">
                        <option>Author</option>
                        <option>Name</option>
                    </select>
                    <input class="valid" type="text" ng-model="searchName" ng-change="getPage()"/>
                </div>
            </div>
            <div ng-animate-swap="page.list" id="projects_list" class="fade">
                <table id="projects_table" cellspacing="0" cellpadding="0">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Author</th>
                          <th>Input date</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="item in page.list">
                        <td>{{ item.projectName }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.inputDate | date:'dd/MM/yyyy - HH:mm:ss'}}</td>
                        <td ng-show="loggedIn"><button class="small-but" ng-click="deleteProject(item.id)">Delete</button>  <button class="small-but" ng-click="viewProject(item.id)">View</button></td>

                      </tr>
                  </tbody>
                </table>
            </div>
            <div id="pagination" class="pagination">
                <ul>
                    <li class="prev" ng-show="page.hasPrev">
                        <a href="#" ng-click="displayPrevPage()">&larr; Previous</a>
                    </li>
                    <li class="prev disabled" ng-show="!page.hasPrev">
                        <a>&larr; Previous</a>
                    </li>
                    <li class="current">
                        <a>{{page.displayXtoYofZ}}</a>
                    </li>
                    <li class="next" ng-show="page.hasNext">
                        <a href="#" ng-click="displayNextPage()">Next &rarr;</a>
                    </li>
                    <li class="next disabled" ng-show="!page.hasNext">
                        <a>Next &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="footer">Footer</div>
    </div>
    <a id="acp-login" ng-show="!loggedIn" href="/acp/login">ACP Login</a>
</body>
</html>