@import play.api.Play.current

<!DOCTYPE html>
<html ng-app="project_upload">
<head>
    <title>Sonar hosts</title>
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src='@routes.Assets.versioned("javascripts/script.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/login.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/sonar.js")'></script>
    <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/style.css")'>
</head>
<body ng-controller="sonarController">
<div id="header">
    <!-- <a href="/"><img id="logo" src='@routes.Assets.versioned("images/sv.png")'/></a> -->
</div>
<div id="menu">
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/projects/upload">Upload</a></li>
        <li><a href="/projects/report">Report</a></li>
        <li><a href="/acp" ng-show="loggedIn">ACP</a></li>
        <li id="logout-button" ng-show="loggedIn"><a href="/acp/logout">Logout</a></li>
    </ul>
</div>
<div id="wrapper">
    <div id="main">
        <h2>Sonar hosts list</h2>
        <hr />
        <div ng-animate-swap="sonarList" id="sonars_list" class="fade">
            <table id="sonars_table">
                <tr>
                    <th>Host</th>
                    <th>User</th>
                    <th>Pass</th>
                    <th></th>
                </tr>
                <tr ng-repeat="item in sonarList">
                    <td><a href="{{ item.address }}">&rarr; {{ item.address }}</a></td>
                    <td>{{ item.user }}</td>
                    <td>{{ item.password }}</td>
                    <td><button ng-click="deleteSonar(item.id)">Delete</button></td>
                </tr>
            </table>
        </div>
        <div id="sonars_button">
            <button ng-click="goToSonarAdd()">Add host</button>
        </div>
    </div>
    <div id="footer">Footer</div>
</div>
</body>
</html>